__pycache__/
*.pyc
AWSCLIV2.pkg
.DS_Store
*.mp4
*.wav
.env
data/
node_modules/
dist/
target/
.turbo/

# Local-first demo: uploaded bytes written by mock-server
uploads/

# Python Virtual Environment
.venv/

# AWS CDK Build Output
cdk.out/

# Pytest cache
.pytest_cache/
